html {
    font-size: 2vw;
}

body {
    font-family: monospace;
    font-size: 1em;
}

.control {
    display: flex;
    justify-content: space-between;
}

#url {
    font-size: 1em;
    font-family: monospace;
    height: 40px;
    width: 80%;
    padding-left: 10px;
    overflow: scroll;
    white-space: nowrap;
    vertical-align: middle;
}

#button {
    font-size: 1.2em;
    font-family: monospace;
    font-weight: bold;
    width: 20%;
    line-height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, .3);
}

#extend {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, #extend:hover {
  background-color: #555;
}

#extend:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

#advanced {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

#advanced hr {
    border-top: 1px solid #f1f1f1;
}

#status {
    float: right;
    border: 1px solid black;
    padding: 2px;
    transform: translate(-10px, 0);
    background-color: rgba(0, 0, 0, .2);
}

pre {
    font-size: 0.75em;
    
    background-color: rgba(0, 0, 0, .1);
    outline: 2px dotted rgb(204, 204, 204);
    
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.key {
    font-weight: bold;
}

.string {
    color: green;
}

.boolean {
    color: purple;
    font-style: italic;
}

.null {
    color: red;
    font-style: italic;
}

.number {
    color: blue;
}

.hidden {
    display: none!important;
}

.ripple {
    left: 50%;
    margin-left: -160px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}